/**
 * This injects any component classes registered by plugins.
 *
 */
@import 'tailwindcss/components';

/**
 * Here we add custom component classes; stuff we want loaded
 * *before* the utilities so that the utilities can still
 * override them.
 *
 */

/**
 * This is CSS used for high-level layouts.
 */
@import "layouts/app.pcss";

/**
 * Our own components.
 */
@import "components/image.pcss";
